	<div id="AuthEmpty">
		<div class="authenticate" data-textholder=".icon,em">
			<div class="heading"><%=raw flash[:message] -%></div>
<%= 		render :partial=>"authentication/sns" -%>
		</div>
	</div>
