<h1>Intro</h1>
<div><a href="/user/signup">Register</a></div>
<div><a href="/auth/google_oauth2">Login through Google</a></div>
<div><a href="/auth/facebook">Login through Facebook</a></div>
<div><a href="/user/login">Login</a></div>
